<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
	<div>
	<table>
	<tr th:each="book : ${books}">
		<td th:text="${book.title}"></td>
		<td th:text="${book.author}"></td>
		<td th:text="${book.publicationYear}"></td>
		<td th:text="${book.price}"></td>
		<td><a th:href="@{/delete/{id}(id=${book.id})}">Poista</a></td>	
		<td><a th:href="@{/edit/{id}(id=${book.id})}">Muokkaa</a></td>
	</tr>
	</table>	
	</div>
</body>
</html>